<div class="container">

<!-- cart-main-area start -->
<div class="cart-main-area ptb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">               
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">products</th>
                                    <th class="product-name">name of products</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody class"cp__table">
                            <% @products.each do |item|%> 
                                <span class="cp__row"> 
                                    <tr product_id="<%= item.product_id %>" >
                                        <td class="product-thumbnail"><a href="#"><img src="images/product-2/cart-img/1.jpg" alt="product img" /></a></td>
                                        <td class="product-name"><a href="#"><%= item.product_name %></a>
                                        </td>
                                        <td class="product-price"><span class="amount"><%= item.product_price %></span></td>
                                        <td class="product-quantity">
                                            <select class="select__quantity" default=item.quantity > 
                                            <% 1.upto(item.product_instock_quantity) do |n| %>
                                                <% if n == item.quantity%>
                                                    <option selected> <%= n %></option>
                                                <% else %>
                                                    <option> <%= n %></option>
                                                <% end %>
                                            <% end %>
                                            </select></td>

                                        <td >$<span class="product-subtotal "><%= item.product_price * item.quantity %> </span></td>
                                        <td class="product-remove">
                                            <a href="#">
                                                <i class="icon-trash icons"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </span>
                               <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="buttons-cart--inner">
                                <div class="buttons-cart">
                                    
                                <%= link_to "Continue Shopping", root_path %></li>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="ht__coupon__code">
                                <span>enter your discount code</span>
                                <div class="coupon__box">
                                    <input type="text" placeholder="" class="coupon__name">
                                    <div class="ht__cp__btn">
                                        <a href="#" class="validate__coupon">enter</a>
                                    </div>
                                    
                                </div>
                                <p class="coupon__message">
                                 ie: Ping
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 smt-40 xmt-40">
                            <div class="htc__cart__total">
                                <h6>cart total</h6>
                                <div class="cart__desk__list">
                                    <ul class="cart__desc">
                                        <li>cart total</li>
                                        <li>discount</li>
                                        
                                    </ul>
                                    <ul class="cart__price">
                                        <li >$<span class="cart__total__value"><%= @cart_price %></span></li>
                                        <li class="discount__amount">0.00</li>
                                        
                                    </ul>
                                </div>
                                <div class="cart__total">
                                    <span>order total</span>
                                    
                                    <span class="order__total__value"> <%= @cart_price %> </span>
                                </div>
                                <ul class="payment__btn">
                                    <li class="active"><a href="#" class="place__order">Place order</a></li>
                                <li><%= link_to "Continue Shopping", root_path %></li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area end -->


</div>