<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,class:"form-control form-control-lg" %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.datetime_select :expiration_date,class:"form-control form-control-lg" %>
  </div>

  <div class="field">
    <%= form.label :max_usage_number %>
    <%= form.number_field :max_usage_number ,class:"form-control form-control-lg"%>
  </div>

  <div class="field">
    <%= form.label :discount_percentage %>
    <%= form.text_field :discount_percentage %>
  </div>

  <div class="field">
    <%= form.label :max_discount_amount %>
    <%= form.text_field :max_discount_amount ,class:"form-control form-control-lg" %>
  </div>
  <div class="actions "style="padding:15px;">
    <%= form.submit :Submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
