<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coupon.name %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @coupon.expiration_date %>
</p>

<p>
  <strong>Max usage number:</strong>
  <%= @coupon.max_usage_number %>
</p>

<p>
  <strong>Discount percentage:</strong>
  <%= @coupon.discount_percentage %>
</p>

<p>
  <strong>Max discount amount:</strong>
  <%= @coupon.max_discount_amount %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
