
        <!-- Start Product Grid -->
        <section class="htc__product__grid bg__white ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                        <div class="htc__product__rightidebar">
                            <div class="htc__grid__top">
                                <!-- Start List And Grid View -->
                                <ul class="view__mode" role="tablist">
                                    <li role="presentation" class="grid-view active"><a href="#grid-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-grid"></i></a></li>
                                    <li role="presentation" class="list-view"><a href="#list-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                                </ul>

                                <!-- End List And Grid View -->

                            </div>
                        <% if @results.blank? %>
                        <div class="alert alert-danger" role="alert">
                        <p style="font-size:20px;text-align:center;"> No Products Avaliable </p>
                        </div> 
                         <% end %>
                            <!-- Start Product View -->
                            <div class="row">
                                <div class="shop__grid__view__wrap">
                                    <div role="tabpanel" id="grid-view" class="single-grid-view tab-pane fade in active clearfix">                        
                                        <!-- Start Single Product -->
                                          <% @results.each do |item|%> 
                                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                            <div class="category">
                                                <div class="ht__cat__thumb">
                                        <% if item.image.attached? %>
                                        <%= link_to (image_tag(item.image) if item.image.attached?), item %>
                                        <% else %>
                                        <%= link_to (image_tag "product/1.jpg" ), item %>
                                        <% end %>
                                                </div>
                                                <div class="fr__hover__info">
                                                    <ul class="product__action">
                                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>                         <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="fr__product__inner">
                                                    <h4> <%= item.name %></h4>
                                                    <ul class="fr__pro__prize">
                                                <li>$ <%= item.price %></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <%end%>
                                        <!-- End Single Product -->
                                    </div>
                                    <div role="tabpanel" id="list-view" class="single-grid-view tab-pane fade clearfix">
                                        <div class="col-xs-12">
                                            <div class="ht__list__wrap">
                                        
                                                <!-- Start List Product -->
                                                 <% @results.each do |item|%> 
                                                <div class="ht__list__product">
                                                    <div class="ht__list__thumb">
                                                    <% if item.image.attached? %>
                                                   <div style="width:290px;height:385px;"> <%= link_to (image_tag(item.image) if item.image.attached?), item %> </div>
                                                    <% else %>
                                                    <%= link_to (image_tag "product/1.jpg" ), item %>
                                                    <% end %>                                                    </div>
                                                    <div class="htc__list__details">
                                                    <h2> <%= item.name %></h2>
                                                        <ul  class="pro__prize">
                                                            <li class="old__prize">$82.5</li>
                                                            <li>$75.2</li>
                                                        </ul>
                                                        <p> <%= item.description %></p>
                                                        <div class="fr__list__btn">
                                                            <a class="fr__btn" href="cart.html">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%end%>
                                                <!-- End List Product -->
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product View -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                        <div class="htc__product__leftsidebar">
                            <!-- Start Prize Range -->
                    <%= form_tag(search_page_path, :method => "get") do %> 
                            <div class="htc-grid-range">
                                <h4 class="title__line--4">Price</h4>
                                <div class="content-shopby">
                                    <div class="price_filter s-filter clear">
                                            <div id="slider-range"></div>
                                            <div class="slider__range--output">
                                                <div class="price__output--wrap">
                                                    <div class="price--output">
                                                        <span>Price :</span><input type="text" id="amount" name="price">
                                                    </div>
                                                    <div class="price--filter">                         
                                            <%= button_tag "Filter", :class => 'btn btn-warning'%>  
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Prize Range -->
                            <!-- Start Category Area -->
                            <div class="htc__category">
                                <h4 class="title__line--4">categories</h4>
                            <% @words.each do |item|%> 
                                <ul class="ht__cat__list" style="padding:10px;" >
                              <%= button_tag  item.category.name ,  class:"form-control form-control-lg", value: item.category_id , name:"category" %>  
                            </li>
                                </ul>
                                <%end%>
                            </div>
                            <!-- End Category Area -->

                            <!-- Start brands Area -->
                            <div class="htc__compare__area">
                                <h4 class="title__line--4">BRANDS</h4>
                             <% @words.each do |item|%> 
                                <ul class="htc__compare__list" style="padding:10px;">
                              <%= button_tag  item.brand.name ,  class:"form-control form-control-lg", value: item.brand_id , name:"brand" %>  
                            </li>
                                </ul>
                                <%end%>
                            </div>
                            <!-- End brand Area -->

                             <!-- Start SELLER Area -->
                            <div class="htc__category">
                                <h4 class="title__line--4">SELLER</h4>
                            <% @words.each do |item|%> 
                                <ul class="ht__cat__list" style="padding:10px;" >
                              <%= button_tag  item.store.user.email ,  class:"form-control form-control-lg", value: item.store_id , name:"seller" %>  
                            </li>
                                </ul>
                                <%end%>
                            </div>
                      
                            <!-- End Seller Area -->                                       
                             <div class="cr__btn" style="padding:10px;">
                    <%= button_tag  'Show All Products' ,  class:"btn btn-warning", value: session[:search] , name:"search" %>  
                                </div>
                                <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Grid -->
        <!-- Start Banner Area -->

        