<!-- Start Header Style -->
<header id="htc__header" class="htc__header__area header--one">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
        <div class="container">
            <div class="row">
                <div class="menumenu__container clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5"> 
                        <div class="logo">

                                 <ul class="main__menu">
                                <li class="drop"><%= link_to "Home", root_path %></li>
                                </ul>

                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                        <nav class="main__menu__nav hidden-xs hidden-sm">
                            <ul class="main__menu">
                       

                                <li class="drop"> <li class="drop"><%= link_to "Category",  categories_path %>
                                    <ul class="dropdown">
                                          <%    @categories.each do |category|%> 
                                        <li><%= link_to category.name, category %>
</li>
                                        <%end%>
                                    </ul>
                                </li>
                                <li class="drop"><%= link_to "Brand", brands_path %>

                                    <ul class="dropdown">
                                          <%    @brands.each do |brand|%> 
                                        <li><%= link_to brand.name, brand %>
</li>
                                        <%end%>
                                    </ul>
                                </li>
                              
                            
                            </ul>   
                        </nav>

                        <div class="mobile-menu clearfix visible-xs visible-sm">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="#">pages</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="cart.html">Cart page</a></li>
                                            <li><a href="checkout.html">checkout</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                            <li><a href="product-grid.html">product grid</a></li>
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>  
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                        <div class="header__right">
                            <div class="header__search search search__open">
                                <a href="#"><i class="icon-magnifier icons"></i></a>
                            </div>
                            <% if user_signed_in? %>
                        
                                <div class="header__account">
                                    <a href="#"><i class="icon-user icons"></i></a>
                                </div>
                                <div class="header__search search ">
                                    <a href="#"><i class="icon-heart icons"></i></a>
                                </div>
                                <div class="htc__shopping__cart">
                                    <a class="cart__menu" href="#">

                                    <i class="icon-handbag icons"></i></a>
                                    <a href="#"><span class="htc__qua">2</span></a>
                                </div>
                            <% else %>
                            <ul class="main__menu">
                                <li> <%= link_to "Login",new_user_session_path%> </li>
                                <li> <%= link_to "SignUp", new_user_registration_path %></li>
                            </ul>   
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>
<!-- End Header Area -->


<div class="body__overlay"></div>
<!-- Start Offset Wrapper -->
<div class="offset__wrapper">

<%=  render "search_offset_wrapper" %>

    <% if user_signed_in? %>
    <%=  render "cart_offset_wrapper" %>
    <% end %>
</div>
<!-- End Offset Wrapper -->