<% if current_user.present? && current_user.role == 'seller' %>
<p id="notice"><%= notice %></p>
<div style="padding:10px;margin-left:30px;text-transform:uppercase;
">  
  <h1 ><%= current_user.store.name%> </h1>
  </div>
  <!-- cart-main-area start -->
        <div class="cart-main-area ptb--100 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form action="#">               
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Product</th>
                                            <th class="product-name">name </th>
                                            <th class="product-category">category</th>
                                            <th class="product-brand">brand</th>
                                            <th class="product-store">store</th>
                                           <th class="product-actions">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                            <% current_user.store.products.each do |item| %>

                                        <tr>
                                            <td class="product-thumbnail"><a href="#">
                                          <% if item.image.attached? %>
                                        <%= link_to (image_tag(item.image) if item.image.attached?), item %>
                                        <% else %>
                                        <%= link_to (image_tag "product/1.jpg" ), item %>
                                        <% end %>                                            </a></td>
                                            <td class="product-name"><%= item.name%></a>
                                            </td>
                                            <td class="product-category"><%=item.category.name%></td>
                                            <td class="product-quantity"><%=item.brand.name %> </td>
                                            <td class="product-subtotal"><%=item.store.name %></td>
                                            <td >
                                           <%= link_to 'Show', item ,class:'btn btn-primary' %>
                                           <%= link_to 'Edit', edit_product_path(item),class:'btn btn-success' %>
                                           <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %>
                                            </td>
                                        </tr>
                                    <%end%>                                       
                                    </tbody>
                                </table>
                                <%= link_to 'New Product', new_product_path,class:"btn btn-warning" %>
                            </div>
                      
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
<%else%>



        <!-- Start Product Grid -->
        <section class="htc__product__grid bg__white ptb--100">
        
            <div class="container">
                <div class="row">
            <%= form_tag(search_path, :method => "get") do %> 
                    <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                        <div class="htc__product__rightidebar">
                            <div class="htc__grid__top">


                    <div class="container" >   
                        <%= search_field_tag :search, params[:search], placeholder: "Search", class:"form-control form-control-lg " %>  
                        <%= button_tag "", :class => 'btn btn-danger glyphicon glyphicon-search',:name => nil ,style:"width:80px;"%>  
                    </div>  
                                <!-- Start List And Grid View -->
                                <ul class="view__mode" role="tablist">
                                    <li role="presentation" class="grid-view active"><a href="#grid-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-grid"></i></a></li>
                                    <li role="presentation" class="list-view"><a href="#list-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                                </ul>

                                <!-- End List And Grid View -->

                            </div>
                        <% if @products.blank? %>
                        <div class="alert alert-danger" role="alert">
                        <p style="font-size:20px;text-align:center;"> No Products Avaliable </p>
                        </div> 
                         <% end %>
                            <!-- Start Product View -->
                            <div class="row">
                                <div class="shop__grid__view__wrap">
                                    <div role="tabpanel" id="grid-view" class="single-grid-view tab-pane fade in active clearfix">                        
                                        <!-- Start Single Product -->
                                          <% @products.each do |item|%> 
                                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                            <div class="category">
                                                <div class="ht__cat__thumb">
                                        <% if item.image.attached? %>
                                        <%= link_to (image_tag(item.image) if item.image.attached?), item %>
                                        <% else %>
                                        <%= link_to (image_tag "product/1.jpg" ), item %>
                                        <% end %>
                                                </div>
                                                <div class="fr__hover__info">
                                                    <ul class="product__action">
                                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>                         <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="fr__product__inner">
                                                    <h4> <%= item.name %></h4>
                                                    <ul class="fr__pro__prize">
                                                <li>$ <%= item.price %></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <%end%>
                                        <!-- End Single Product -->
                                    </div>
                                    <div role="tabpanel" id="list-view" class="single-grid-view tab-pane fade clearfix">
                                        <div class="col-xs-12">
                                            <div class="ht__list__wrap">
                                        
                                                <!-- Start List Product -->
                                                 <% @products.each do |item|%> 
                                                <div class="ht__list__product">
                                                    <div class="ht__list__thumb">
                                                    <% if item.image.attached? %>
                                                   <div style="width:290px;height:385px;"> <%= link_to (image_tag(item.image) if item.image.attached?), item %> </div>
                                                    <% else %>
                                                    <%= link_to (image_tag "product/1.jpg" ), item %>
                                                    <% end %>                                                    </div>
                                                    <div class="htc__list__details">
                                                    <h2> <%= item.name %></h2>
                                                        <ul  class="pro__prize">
                                                            <li class="old__prize">$82.5</li>
                                                            <li>$75.2</li>
                                                        </ul>
                                                        <p> <%= item.description %></p>
                                                        <div class="fr__list__btn">
                                                            <a class="fr__btn" href="cart.html">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%end%>
                                                <!-- End List Product -->
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product View -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                        <div class="htc__product__leftsidebar">
                            <!-- Start Prize Range -->
                            <div class="htc-grid-range">
                                <h4 class="title__line--4">Price</h4>
                                <div class="content-shopby">
                                    <div class="price_filter s-filter clear">
                                            <div id="slider-range"></div>
                                            <div class="slider__range--output">
                                                <div class="price__output--wrap">
                                                    <div class="price--output">
                                                        <span>Price :</span><input type="text" id="amount" name="price">
                                                    </div>
                                                    <div class="price--filter">                         
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Prize Range -->
                            <!-- Start Category Area -->

                            <div class="htc__category">
                                <h4 class="title__line--4 select">categories</h4>

                                            <select class="mdb-select md-form select_category "  name="category">
                                            <option value="" disabled selected>Choose your Category</option>
                                             <% @all.each do |item|%> 
                                            <option value= <%= item.category_id %>> <%= item.category.name%></option>
                                                <%end%>
                                            </select>
                            </div>
                            <!-- End Category Area -->

                            <!-- Start brands Area -->
                            <div class="htc__compare__area">
                                <h4 class="title__line--4">BRANDS</h4>
                                            <select class="mdb-select md-form select_brand"  name="brand">
                                        <option value="" disabled selected>Choose your Brand</option>
                                             <% @all.each do |item|%> 
                                            <option value= <%= item.brand_id %>> <%= item.brand.name%></option>
                                                <%end%>
                                            </select>
                            </div>
                            <!-- End brand Area -->

                             <!-- Start SELLER Area -->
                            <div class="htc__category">
                                <h4 class="title__line--4" >SELLER</h4>
                                            <select class="mdb-select md-form select_seller" name="seller">
                                            <option value=" " disabled selected>Choose your Store</option>
                                             <% @all.each do |item|%> 
                                            <option value= <%= item.store_id %>> <%= item.store.name%></option>
                                                <%end%>
                                            </select>
                            </div>
                      
                            <!-- End Seller Area -->                                       
                             <div class="cr__btn" style="padding:10px;">
                        <%= button_tag "Filer", :class => 'btn btn-danger ',:name => nil ,style:"width:80px;"%>  
                                </div>
                                <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Grid -->
        <!-- Start Banner Area -->

        


<%end%>