<!DOCTYPE html>
<html>

  <head>
    <title>RailsECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


<%# <p class="navbar-text pull-right"> %>
<%# <% if user_signed_in? %> 
  <%# Logged in as <strong><%= current_user.email</strong> %>
  <%# <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
  <%# <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 
<%# <% else %> 
  <%# <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
  <%# <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> 
<%# <% end %> 
<%# </p> %>

    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 



    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asbab - eCommerce HTML5 Templatee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <%= image_tag "favicon.ico" %>
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- Owl Carousel min css -->
    <%= stylesheet_link_tag "owl.carousel.min.css" %>
    <%= stylesheet_link_tag "owl.theme.default.min.css" %>
    <!-- This core.css file contents all plugings css file. -->
        <%= stylesheet_link_tag "core.css" %>
    <!-- Theme shortcodes/elements style -->
    <%= stylesheet_link_tag "shortcode/shortcodes.css" %>
    <!-- Theme main style -->
     <%= stylesheet_link_tag "style.css" %>
    <!-- Responsive css -->
        <%= stylesheet_link_tag "responsive.css" %>
    <!-- User style -->
    <%= stylesheet_link_tag "custom.css" %>
    <!-- Modernizr JS --> 
    <%= javascript_include_tag "vendor/modernizr-3.5.0.min.js" %>
  </head>

  <body>
  <%= render "nav" %>
    <%= yield %>
     <footer id="htc__footer">
            <!-- Start Footer Widget -->
            <div class="footer__container bg__cat--1">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer">
                                <h2 class="title__line--2">ABOUT US</h2>
                                <div class="ft__details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
                                    <div class="ft__social__link">
                                        <ul class="social__link">
                                            <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>

                                            <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>

                                            <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>

                                            <li><a href="#"><i class="icon-social-google icons"></i></a></li>

                                            <li><a href="#"><i class="icon-social-linkedin icons"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer">
                                <h2 class="title__line--2">information</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy & Policy</a></li>
                                        <li><a href="#">Terms  & Condition</a></li>
                                        <li><a href="#">Manufactures</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">my account</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="cart.html">My Cart</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">Our service</h2>
                                <div class="ft__inner">
                                    <ul class="ft__list">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="cart.html">My Cart</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                            <div class="footer">
                                <h2 class="title__line--2">NEWSLETTER </h2>
                                <div class="ft__inner">
                                    <div class="news__input">
                                        <input type="text" placeholder="Your Mail*">
                                        <div class="send__btn">
                                            <a class="fr__btn" href="#">Send Mail</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                    </div>
                </div>
            </div>
            <!-- End Footer Widget -->
            <!-- Start Copyright Area -->
            <div class="htc__copyright bg__cat--5">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Copyright© <a href="https://freethemescloud.com/">Free themes Cloud</a> 2018. All right reserved.</p>
                                <a href="#"><%= image_tag "others/shape/paypol.png" %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </footer>
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
     <%= javascript_include_tag "vendor/jquery-3.2.1.min.js" %>
    <!-- Bootstrap framework js -->
     <%= javascript_include_tag "bootstrap.min.js" %>
    <!-- All js plugins included in this file. -->
     <%= javascript_include_tag "plugins.js" %>
     <%= javascript_include_tag "slick.min.js" %>
     <%= javascript_include_tag "owl.carousel.min.js" %>
    <!-- Waypoints.min.js. -->
    <%= javascript_include_tag "waypoints.min.js" %>
    <!-- Main js file that contents all jQuery plugins activation. -->
        <%= javascript_include_tag "main.js" %>



  </body>
</html>
