<!DOCTYPE html>
<html>

  <head>
    <title>RailsECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


<%# <p class="navbar-text pull-right"> %>
<%# <% if user_signed_in? %> 
  <%# Logged in as <strong><%= current_user.email</strong> %>
  <%# <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
  <%# <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 
<%# <% else %> 
  <%# <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
  <%# <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> 
<%# <% end %> 
<%# </p> %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asbab - eCommerce HTML5 Templatee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <%= image_tag "favicon.ico" %>
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- Owl Carousel min css -->
    <%= stylesheet_link_tag "owl.carousel.min.css" %>
    <%= stylesheet_link_tag "owl.theme.default.min.css" %>
    <!-- This core.css file contents all plugings css file. -->
        <%= stylesheet_link_tag "core.css" %>
    <!-- Theme shortcodes/elements style -->
    <%= stylesheet_link_tag "shortcode/shortcodes.css" %>
    <!-- Theme main style -->
     <%= stylesheet_link_tag "style.css" %>
    <!-- Responsive css -->
        <%= stylesheet_link_tag "responsive.css" %>
    <!-- User style -->
    <%= stylesheet_link_tag "custom.css" %>
    <!-- Modernizr JS --> 

    
    <%= javascript_include_tag "vendor/modernizr-3.5.0.min.js" %>
       <!-- jquery latest version -->
     <%= javascript_include_tag "vendor/jquery-3.2.1.min.js" %>
    <!-- Bootstrap framework js -->
     <%= javascript_include_tag "bootstrap.min.js" %>
    <!-- All js plugins included in this file. -->
     <%= javascript_include_tag "plugins.js" %>
     <%= javascript_include_tag "slick.min.js" %>
     <%= javascript_include_tag "owl.carousel.min.js" %>
    <!-- Waypoints.min.js. -->
    <%= javascript_include_tag "waypoints.min.js" %>
    <!-- Main js file that contents all jQuery plugins activation. -->
      <%= javascript_include_tag "main.js" %>
     <%= javascript_include_tag 'application' %>

  </head>

  <body>
  <%= render "nav" %>
  <%= yield %>
  <%= render "footer" %>
     
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

 



  </body>
</html>
